<h1>Listing contexts</h1>

<div style="width: 800px">
<table id="products" class="display" data-source="<%= contexts_url(format: "json")%>">
<thead>
  <tr class="Grade A">
    <th>Name</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
</div>
<br />

<%= link_to 'New Context', new_context_path %>
