// Place all the styles related to the Contexts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  width: 1200px;
  height: 700px;
  background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    overflow: auto;
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
